* {
  font-size: inherit;
  box-sizing: inherit;
  line-height: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,1);
  line-height: 140%;
}

img.right, img.left {
  width: 45%;
  margin-top: 16px;
  border: 1px solid rgba(100,50,0,0.5);
  box-shadow: 0px 0px 16px rgba(0,0,0,0.25);
}

img.right {
  float: right;
  margin-left: 12px;
  margin-right: -13px;
}

img.left {
  float: left;
  margin-left: -13px;
  margin-right: 12px;
}

h1, h2, h3, h4 {
  line-height: 140%;
}

h1 {
  font-size: 220%;
}
h2 {
  font-size: 180%;
}
h3 {
  font-size: 160%;
}
h4 {
  font-size: 120%;
  margin-top: 6px;
  margin-bottom: 6px;
}

#footer-wrap, #navwrap, body {
  background: rgba(60,30,0,0.5);
  box-shadow: 0px 0px 16px rgba(0,0,0,0.5);
}

#content, #footer, nav {
  padding: 12px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#content {
  background: white;
  box-shadow: 0px 0px 16px rgba(0,0,0,0.5);
}

#footer {
  text-align: center;
}

a {
  color: blue;
  text-decoration: none; 
}

a:hover {
  text-decoration: underline;
}

nav > a, #footer > a {
  color: white;
}

nav, #footer {
  color: rgba(255,255,255,0.5);
  text-align: center;
}

.qinfo, .quickstart {
  float: right;
  width: 250px;
  padding: 12px;
  background: rgba(200,150,0,0.1);
  border: 1px solid rgba(200,150,0,0.1);
  margin-right: -12px;
  margin-left: 12px;
}

.qinfo {
  background: rgba(50,200,0,0.1);
  padding: 8px;
}

.quickstart *, .quickstart, .qinfo *, .qinfo {
  color: rgba(0,0,0,0.65);
}

.toc > ul > li {
  display: inline-block;
  width: 24%;
  margin: 0; padding: 0;
}
